* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: green; */
  --variableName: 64px;
  max-width: calc(
    1200px + 2 * var(--variableName)
  );
  margin-inline: auto;
  padding-inline: var(--variableName);
}
.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

// .nav .wrapper {
//   display: flex;
//   justify-content: space-between;
//   padding-block: 17px;
//   align-items: baseline;
// }

// .nav .nav__menuwrapper {
//   display: flex;
//   gap: 34px;
//   align-items: baseline;
// }

// .nav {
//   background-color: rgb(32, 78, 57);
//   color: white;
//   font-weight: 1500;
//   font-family: "Times New Roman", Times, serif;
//   font-size: 22px;
// }

.nav {
  background-color: rgb(6, 83, 93);
  color: white;
  font-weight: 100;
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
  container-type: inline-size;
  container-name: nav;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__logo {
    font-style: oblique;
    font-size: 24px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width< 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
}

.nav__menu > a {
  color: white;
  text-decoration: none;
}

.main {
  &__media {
    background-color: rgb(53, 80, 69);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#hero2 {
  background-color: rgb(192, 205, 204);
  .wrapper {
    display: flex;
    align-items: center;
    $gap-val: 24px;
    font-size: 65px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(19, 69, 69);
    gap: $gap-val;
    & > * {
      flex: 1;
    }
  }
  .main {
    &__text {
      &__buttonWrapper {
        display: flex;
        gap: 16px;
      }
    }
    &__media {
      aspect-ratio: 4 / 3;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    max-width: 40ch;
    margin-bottom: 24px;
  }
  @container nav (width< 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
}

.column {
  background-color: gray;
  color: white;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
  }
  svg {
    fill: white;
  }
}

.column {
  background-color: rgb(74, 90, 84);
  color: white;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  container-type: inline-size;
  container-name: footer;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
  }
  svg {
    fill: white;
  }
  .wrapper {
    // display: flex;
    // justify-content: space-between;
    // gap: 24px;
    // >*{
    //   flex: 1;
    // }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 0.75rem;
  }
  &__extLinkWrap {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width < 44.375rem) {
    .column:first-of-type {
      grid-row: 2 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}
