.grandchlid{background-color: antiquewhite;padding: 4px;}
.chlid{background-color: rgb(210, 255, 216);padding: 8px;}
.parent{background-color:rgb(103, 219, 167);padding: 0px;margin: 16px auto;max-width: 960px;}
.friend{background-color: beige;}